html, body{
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1.2
  color: #222;
  background: rgba(240,240,240,1)
}

a{
  text-decoration: underline;
  color: #ddd;
}
a:hover{
  color: #ff0000;
}

img{
  height: auto;
  width: 100%;
}

.main-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

.hb-nav{
  display: none;
}

.hb-menu{
  position: absolute;
  left: 0px;
  width: 80px;
  height: 80px;
}

.hb-inp-search{
  color: #fff;
}

.line{
  height: 3px;
  width: 60px;
  background: #fff;
  margin: 15px auto 0px auto;

}

header{
  position: relative;
  background:  linear-gradient(
      rgba(200, 0, 0, 0.5), 
      rgba(200, 0, 0, 0.5)
    ),
  url('media/dd.jpg') no-repeat;
  background-size: cover;
  text-align: center;
  height: 500px;
}

.header-title{
  position: absolute;
  font-family: 'Londrina Outline', cursive;
  text-shadow: 2px 2px 20px #000;
  color: #fff;
  font-size: 450%; 
  top: 130px;
  left: 2%; 
}

.header-sub-title{
  display: block;
  font-family: 'Ranga', cursive;
  font-size: 40px;
  color: #400000;
  text-shadow: .5px .5px 0px #fff;
}

.btn-header{
  position: absolute;
  top: 350px;
  border: 1px solid #fff;
  height: 50px;
  width: 100px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background-color: #ff0000;
  font-family: 'Righteous';
  font-size: 20px;
  text-shadow: 2px 2px 10px #000;
  cursor: pointer;
}

.btn-header:hover{
  background: #7F0000;
  color: #ff0000;
}

.btn-header:active{
  color: #fff;
}

.btn-login.btn-header{
  left: 100px;
}

.signup.btn-header{
  left: 220px;
}

.btn-logout{
  display: none;
  left: 150px;
}


/* Log In View */


form {
  display: none;
}

.login-form, .sign-up-form{
  margin-top: 120px;
}

.login-form input, .sign-up-form input{
  background-color: rgba(255, 255, 255, 0.8)
}

.login.view{
  display: none;
  z-index: 10;
  position: absolute;
  right: 0;
  left: 0;
  top: 700px;
}



.x-wrapper{
  position: relative;
}

.x-close{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 20px;
  border: 3px solid #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
}

.login-signup-title{

    color: #fff;
    font-family: 'Righteous';
    font-size: 25px;
    margin-top: 50px;   
    margin-bottom: 30px;  
    text-shadow: 2px 2px 20px #000;                                   

}

.inp-login, .label-login{
  display: block;  
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

input[class*="inp-"]{
  height: 30px;
  width: 200px;
}

.wrong-login{
  display: none;
  color: red;
}

.or{
  display: block;
  cursor: pointer;
  color: #fff;
  margin-top: 20px;
  font-family: 'Rajdhani';
}

button[class*="btn-submit"]{
   border-style: none;
    width: 120px;
    height: 40px;
    font-size: 18px;
    font-family: 'Passion One';    
    color: #fff;
    text-shadow: 1px 1px 1px #ff0000;
    background: #400;
    border: 2px solid #fff;
}

nav {
  display: none;
  position: relative;
  background-color: #400000;
  min-height: 70px; 

}

.nav-btn{
  float: left;
  font-size: 18px;
  margin-left: 30px;
  line-height: 70px;
  font-family: 'Rajdhani';
  color: #fff;
}
.welcome{  
  bottom: 0px;
  vertical-align: middle;
  font-size: 25px;
  font-family: 'Roboto';
  text-shadow: 1px 1px 10px #ff0000;

}

.btn-add-thread:hover, .btn-view-threads:hover, .home:hover{
  cursor: pointer;
  color: red;
}


.search-wrapper{
  display: none;
  min-height: 70px;
  line-height: 70px;
  border: 0px solid #fff;
}

.btn-search, .hb-btn-search{
  display: inline-block;
  background-color: #f00;
  height: 30px;
  line-height: 30px;
  width: 60px;
  text-align: center;
  margin-left: -3px;
  border-radius: 1px;
  border: 1px solid #ccc;
  color: #fff;
  font-family: 'Rajdhani';
  font-size: 18px;
  text-shadow: 2px 2px 2px #000;
  cursor: pointer;
}

.btn-search:active{
  background: #7F0000;
  color: #ff0000;
}

nav p{
  margin-left: 50px;
}

.inp-search{
  display: inline-block; 
  height: 30px;
  width: 100px;
  margin-top: 17px;
  margin-left: 30px;
  border-style: none;
  border-radius: 3px;
  font-family: 'Roboto', arial, serif;
  font-size: 15px;
  text-indent: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #111;

}

p, input{
  display: inline-block;
}

.movies{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.movies-label{
  margin: auto;
  max-width: 80%;
  padding: 20px;
  min-height: 50px;
  text-align: center;
  background: #fff;
  color: #400;
  font-size: 45px;
  font-family: 'Ranga', arial, serif;
  text-shadow: 1px 1px 3px #ff0000; 
}

.movies-label p{
  margin: 0;
}

.plus{
  float: right;
  padding-right: 20px;
}

.js-movie-thread{
  max-height: 90px;
  margin: auto;
  max-width: 80%;
  border-bottom: 1px solid #ccc;
  overflow: auto;
}

.js-movie-thread:hover{
  cursor: pointer;

}

.js-movie-thread img{
  width: 50px;
  vertical-align: middle;  
}

.thread-title{
  margin: 0;
  padding: 10px;
  border-radius: 3px;
  font-size: 31px;
  font-family: 'Rajdhani';
  color: #ff0000;
  text-shadow: 1px 1px 1px #000;
}

.js-movie-thread:hover{
  background: rgba(240,0,0,0.2);
}

.thread-created{
 margin-right: 10px;
 margin-left: 20px;
 font-family: 'Roboto';
 color: #ff0000;
}

.thread-author{
font-family: 'Rajdhani';
}


/*   Thread View */

.thread-view-wrapper{
  max-width: 75%;
  margin: auto;
}

.thread.view{
  display: none;
  background: #fff;
  height: 100%;
  padding-top: 10px;
}

.thread-view-header{
  margin: auto;
  margin-top: 25px;
  width: 79%;
  border: 1px solid #ccc;
  padding: 20px 0px 10px 10px;
}

h1.thread-view-title:first-child{
  margin-top: 0
}

.back{
  cursor: pointer;
  width: 50px;
}

.thread-list-view .back{
  display: none;
}

.thread-list-items{
  max-width: 80%;
  margin: auto;
  background: #fff;
  padding-bottom: 30%;
}

.thread-view-title{
  padding-top: 20px;
  font-family: 'Poppins';
  font-size: 45px;  
  color: #400;
}

.thread-view-content{
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #222;
  font-weight: 300;
  line-height: 1.3em;
  
}

.thread-view-creator{
  color: #400;
  font-family: 'Roboto';
}

.js-thread-title-author{
  display: inline-block;
  font-family: 'Roboto';
  font-size: 20px;
  color: #7f0000;
  margin-top: 20px;
  margin-bottom: 10px;
}

.thread-view-title-posts{
  margin-top: 40px; 
}

.js-post{
  margin-left: 50px;
  margin-bottom: 30px;
  background-color: #e3eefd;
}

.js-separate{
  margin-top: 130px;
  background: #ccc;
  height: 1px;
}

.js-post-content{
  font-family: arial, serif;
  font-size: 30px;  
}

.js-pc-user{
  font-weight: 800;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #ff0000;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  margin-right: 20px;
  font-size: 1.5em;
  font-family: 'Poppins';
  color: #fff;
}
.js-pc-full-user{
  font-weight: 600;
  color: #222;
}

.js-post-created {
  vertical-align: sub;
  margin-left: 40px;
  font-size: 13px;
}

.js-post-likes, .js-post-author{
  vertical-align: sub;
  margin-left: 10px;
  font-size: 13px;
}



.js-post-comments{
  width: 50%;
  margin-left: 80px;
  margin-bottom: 20px;
  background-color: #ffffd0;
  font-size: 20px;
}

.js-btn-comment{
  position: relative;  
  top: -63px;
  float: right;
  margin-right: 30px;
  width: 100px;
  height: 30px;
  border-style: none;
  background-color: azure;
  font-size: 15px;
  cursor: pointer;
}

.js-btn-comment:active{
  background-color: #7d8e8e;
  color: #fff;
}



.news.view{
  display: table;
  min-width: 80%;
  margin: auto;
  background: #fff;
  height: 100%;
  padding-top: 10px;
}


.btn-add-post, .btn-create-post, .btn-create-thread, .btn-create-comment, .btn-edit-thread-submit, .btn-edit-post-submit{
  width: 100px;
  height: 40px;
  border-style: none;
  background-color: #ff0000;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.btn-create-thread{
  text-align: ceter;
  margin: 10px 0 0 0; /**/
  font-family: 'Passion One';
  font-size: 23px;
  text-shadow: 2px 2px 1px #000; 
}

.btn-create-thread:active{
  background-color: #7f0000;
}

.btn-create-post:active{
  background-color: #7f0000;
}

.btn-create-comment:active{
  background-color: #7f0000;
}

.btn-wrapper{
  margin: 20px 0 20px 0;
}

.create-post.view, .create-thread.view, .edit-thread.view, .create-comment.view, .edit-post.view{
  position: relative;
  display: none;
  background: #fff;
  padding: 20px;
  margin: auto;
  width: 70%;
  min-height: 70%;
  background-color: ;
}

.create-post.view label, .create-thread.view label, .edit-thread.view label, .create-comment.view label, .edit-post.view label{
  display: block;
  padding-top: 20px;
  margin-bottom: 30px;
  font-family: 'Passion One';
  font-size: 3em;
  color: #7f0000;
}

.create-thread-title, .edit-thread-title{
  width: 80%;
  height: 30px;
}

.cancel{
  margin: 0 0 0 3px;
  font-family: 'Passion One';
  text-shadow: 1px 1px 5px #ff0000;
  color: #eee;
  font-size: 20px;
}

.cancel:hover{
  cursor: pointer;
  color: red;
  text-shadow: 1px 1px 2px #000; 
}


.news-wrapper{
  border: none;
  border-radius: 3px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 80px;
  width: 80%;
  min-height: 300px;
  background-color: #fff;
}



.post-wrapper{  
  border-radius: 3px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 80px;
  width: 80%;
  min-height: 100px;
  background-color: #fff;
}
.post-wrapper:first-child{
  margin-top: 100px;
}  

.post-user-info, {
  display: flex;
  align-items: center;
  border-right: 1px solid #7f0000;
  position: absolute;
  top: 9%;
  width: 20%;
  height: 80%;
}
.info-info{
  display: flex;
  align-items: center;
  border-right: 1px solid #7f0000;
  position: absolute;
  top: 9%;
  width: 20%;
  height: 80%;
}

.user-info-name{
  margin-top: 50px;
  text-align: center;
}

.user-img-wrapper, .news-img-wrapper{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
  
  
}

.news-img{  
  max-width: 100%;  
}

.user-img{
  width: 30%;
  height: 30%;
}
/*
.post-content-wrapper{
  margin-top: 20px;
  overflow: scroll;
  position: absolute;
  left: 5%;
  top: 9%;
  height: 80px;
  width: 70%;
  border-radius: 3px;
}
*/
.news.view h1{
  text-align: center;
  margin-top: 30px;
  color: #ff0000;
  font-size: 3em;
  font-family: 'Poppins';
  text-shadow: 2px 1px 1px #130000;
}

.news-content-wrapper{
  margin-top: 1em;
  overflow: auto;
  position: relative;
  left: 25%;
  top: 9%;
  height: 80%;
  width: 70%;
  border-radius: 3px;

}

.post-content, .news-content{
  margin-top: 30px;
  font-family: 'Roboto';
  font-size: 17px;
  line-height: 22px;
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}

.post-content{
  background: rgb(250,250,250);
  padding: 20px;
}

.post-content-title{
  font-family: 'Roboto';
  font-size: 1.5em;
  color: #222;
}

.post-user-name{
  font-family: 'Roboto';
  font-weight: 600;
}

.post-meta{
  position: absolute;  
  left: 5%;
  min-width: 100%;
  bottom: -100px;
  border: 1px solid #ccc;
  padding: 10px;
}

.thumb{
  font-size: 20px;
  color: #fff;
  filter: saturate(0) brightness(0);
}

.thumb:hover{
  filter: saturate(3);
  cursor: pointer;
}

.thumb-liked{
  filter: saturate(3);
  cursor: pointer;
}

.btn-comment, .btn-post{
  display: inline-block;
  border: 1px solid #400;
  padding: 0 5px 0 5px;
  margin-left: 10px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-family: 'Rajdhani', arial, serif;
  background: #ff0000;
  color: #fff;
  cursor: pointer;

}

.likes{
  border: none;
}

.js-comment{
    color: #000;
    overflow-wrap: break-word;
    margin-top: 30px;
    overflow: scroll;
    width: 70%;
    margin-left: auto;
    margin-right:  auto;
    margin-bottom: 30px;    
    font-style: oblique;    
    line-height: 23px;
    font-size:1em;        
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

.thread.view.js-comment:first-child{
  margin-top: 120px;
}

.js-comment-user{
  display: block;
  width: 50%;    
  font-family: 'Roboto';
  font-size: 15px;
  color: #ff0000;
}

.by{
  color: #7f0000;
}





.login-wrapper{  
  position: absolute;  
  text-align: center;
  border: 10px solid #fff;
  box-shadow: 2px 2px 20px #fff;
  border-radius: 13px;
  height: 600px;
  width: 700px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -500px;
  background: linear-gradient(
    rgba(255,0,0,0.4),
    rgba(255,0,0,0.4)
  ),
    url('media/hoc.jpg') no-repeat;
  background-size: cover;
  background-position-x: -100px;
}

.login-overlay{
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(255,0,0,0.73);
  width: 100%;
}

footer{
  font-size: 0.6em;
  z-index: 11;
  position: fixed;
  bottom: 0;
  min-width: 100%;
  background: #400000;
}

footer ul {
  margin: 0;
}

footer li{
  display: inline-block;
  color: #ddd;
  font-family: 'Poppins';
  line-height: 30px;
  padding-right: 30px;
  letter-spacing: 1px;
}

